@page "/"

<p>Hola, Eduardo</p>
<!--Sintaxis implicita de codigo de razor-->
<p>Hola, @nombre</p>
<p>Hola, @nombre.ToUpper()</p>
<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

<!--Sintaxis explicita de codigo de razor-->

<p>Vamos a sumar 2 + 2 = @(2 + 2)</p>
<button @onclick="@( () => Console.WriteLine("Me han clickeado") )">Presioname</button>
<button @onclick="@ManejarClick">Presioname</button>

<div>
    <h3>Pelicula</h3>
    <p>Titulo: <b>@SpiderMan.Titulo</b></p>
    <p>Fecha Lanzamiento: <b>@SpiderMan.Lanzamiento.ToString("dd MMM yyyy")</b></p>
</div>

<div>
    <h3>Peliculas</h3>
    @foreach (var pelicula in ObtenerPeliculas())
    {
        <div>
            <p>Titulo: <b>@pelicula.Titulo</b></p>
            <p>Fecha Lanzamiento: <b>@pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }
</div>

<div>
    <h3>Peliculas</h3>
    @foreach (var pelicula in ObtenerPeliculas())
    {
        <div>
            <p>Titulo: <b>@pelicula.Titulo</b></p>
            <p>Fecha Lanzamiento: <b>@pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }
</div>



<div>
    <h3>Peliculas</h3>
    @for (var i = 0; i < Peliculas.Count; i++)
    {
        <div>
            <p>@(i+1)Titulo: <b>@Peliculas[i].Titulo</b></p>
            <p>Fecha Lanzamiento: <b>@Peliculas[i].Lanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }
</div>


@code {
    string nombre = "Eduardo";
    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }
    public List<Pelicula> Peliculas { get { return ObtenerPeliculas(); } }

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula
        {
            Titulo = "Spider-Man: Far From Home",
            Lanzamiento = new DateTime(2019, 7, 2)
        };
    }

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
    {
            new Pelicula{ Titulo = "Spider-Man: Far From Home", Lanzamiento = new DateTime(2019, 7, 2) },
            new Pelicula{ Titulo = "Moana", Lanzamiento = new DateTime(2016, 11, 23) },
            new Pelicula{ Titulo = "Inception", Lanzamiento = new DateTime(2010, 7, 16) }
        };
    }

    void ManejarClick() => Console.WriteLine("Me han clickeado desde metodo");
}
